<hr @*style="border:0.1px solid #ccc; border-radius: 20px 2px 4px 40px"*@ />
<section class="cta-style-three">
    <div class="thm-container text-center">
        <span></span>
        <h2>Çalişmalari<br>incele  <br>bilgi ediniz</h2>
        <a href="#" class="thm-btn">Detay</a>
    </div><!-- /.thm-container -->
</section><!-- /.cta-style-three -->