@{
    ViewData["Title"] = "Home Page";
}


@await Component.InvokeAsync("Slider")
@await Component.InvokeAsync("Services")
@await Component.InvokeAsync("About")
@await Component.InvokeAsync("ServiceCard")
@await Component.InvokeAsync("WorkDetails")
<!--<section class="video-box-design-guide sec-pad service-tab-box">
    <div class="thm-container">
        <div class="tab-title">
            <ul class="list-inline" role="tablist">
                <li class="active" data-tab-name="tshirt">
                    <a href="#tshirt" aria-controls="tshirt" role="tab" data-toggle="tab" class="hvr-bounce-to-bottom">
                        <i class="printify-icon-t-shirt-with-square"></i>
                        <h3>T-Shirt <br> Printing</h3>
                    </a>
                </li>-->
                <!--
                -->
                <!--<li data-tab-name="flyer">
                    <a href="#flyer" aria-controls="flyer" role="tab" data-toggle="tab" class="hvr-bounce-to-bottom">
                        <i class="printify-icon-brochure-folded"></i>
                        <h3>Flyer <br> Printing</h3>
                    </a>
                </li>-->
                <!--
                -->
                <!--<li data-tab-name="poster">
                    <a href="#poster" aria-controls="poster" role="tab" data-toggle="tab" class="hvr-bounce-to-bottom">
                        <i class="printify-icon-continuous-feed-paper"></i>
                        <h3>Poster <br> Printing</h3>
                    </a>
                </li>-->
                <!--
                -->
                <!--<li data-tab-name="sticker">
                    <a href="#sticker" aria-controls="sticker" role="tab" data-toggle="tab" class="hvr-bounce-to-bottom">
                        <i class="printify-icon-circular-sticker"></i>
                        <h3>Sticker <br> Printing</h3>
                    </a>
                </li>
            </ul>--><!-- /.list-inline -->
        <!--</div>--><!-- /.tab-title -->
        <!--<div class="tab-content">
            <div class="single-tab-content tab-pane fade in active" id="tshirt">
                <div class="sec-title text-center">
                    <span>Our services</span>
                    <h3>T-Shirt Printing</h3>
                    <p>Choose the perfect flyer design, You can’t go wrong. We start at premium and go all the way to extra fancy. There’s <br>Original single-sided flyers (writeable on one side) that you can send without an envelope, Original double-sided <br>flyers (more impactful) and luxe flyers (extra thick and luxurious).</p>
                </div>--><!-- /.sec-title -->
                <!--<div class="row">
                    <div class="col-md-6">
                        <div class="video-box">
                            <img src="img/video-box-1-1.jpg" alt="Awesome Image">
                            <div class="content">
                                <h3>Printfinity Makes <br> Every Card <br> Unique</h3>
                            </div>--><!-- /.content -->
                            <!--<a href="../watch.html?v=mcL6ZErM49Q" class="video-btn video-popup"><i class="fas fa-play"></i></a>
                        </div>--><!-- /.video-box -->
                    <!--</div>--><!-- /.col-md-6 -->
                    <!--<div class="col-md-6">
                        <div class="design-guideline">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="guide-content">
                                        <h3>Download a Design <br> Guideline</h3>
                                        <ul class="list-box">
                                            <li><span>Bleed:</span> 2.91” x 1.26”</li>
                                            <li><span>Trim:</span> 2.75” x 1.10”</li>
                                            <li><span>Safe:</span> 2.6” x 0.94”</li>
                                        </ul>--><!-- /.list-box -->
                                    <!--</div>--><!-- /.guide-content -->
                                <!--</div>--><!-- /.col-sm-6 -->
                                <!--<div class="col-sm-5">
                                    <div class="row version-row">
                                        <div class="col-xs-6">
                                            <div class="single-version">
                                                <div class="version">
                                                    <span>psd</span>
                                                    <i class="fas fa-angle-double-down"></i>
                                                </div>--><!-- /.version -->
                                                <!--<h4>Photoshop</h4>
                                            </div>--><!-- /.single-version -->
                                        <!--</div>--><!-- /.col-xs-6 -->
                                        <!--<div class="col-xs-6">
                                            <div class="single-version">
                                                <div class="version ai">
                                                    <span>ai</span>
                                                    <i class="fas fa-angle-double-down"></i>
                                                </div>--><!-- /.version -->
                                                <!--<h4>Illustrator</h4>
                                            </div>--><!-- /.single-version -->
                                        <!--</div>--><!-- /.col-xs-6 -->
                                        <!--<div class="col-xs-6">
                                            <div class="single-version">
                                                <div class="version indesign">
                                                    <span>indd</span>
                                                    <i class="fas fa-angle-double-down"></i>
                                                </div>--><!-- /.version -->
                                                <!--<h4>InDesign</h4>
                                            </div>--><!-- /.single-version -->
                                        <!--</div>--><!-- /.col-xs-6 -->
                                        <!--<div class="col-xs-6">
                                            <div class="single-version">
                                                <div class="version jpg">
                                                    <span>jpg</span>
                                                    <i class="fas fa-angle-double-down"></i>
                                                </div>--><!-- /.version -->
                                                <!--<h4>Jpeg</h4>
                                            </div>--><!-- /.single-version -->
                                        <!--</div>--><!-- /.col-xs-6 -->
                                    <!--</div>--><!-- /.row -->
                                <!--</div>--><!-- /.col-sm-6 -->
                            <!--</div>--><!-- /.row -->
                        <!--</div>--><!-- /.design-guideline -->
                        <!--<div class="guide-line-img-box">
                            <img src="img/download-guide-line-1-1.jpg" alt="Awesome Image">
                        </div>--><!-- /.img-box -->
                    <!--</div>--><!-- /.col-md-6 -->
                <!--</div>--><!-- /.row -->
            <!--</div>--><!-- /.single-tab-content -->
            <!--<div class="single-tab-content tab-pane fade" id="flyer">
                <div class="sec-title text-center">
                    <span>Our services</span>
                    <h3>Flyer Printing</h3>
                    <p>Choose the perfect flyer design, You can’t go wrong. We start at premium and go all the way to extra fancy. There’s <br>Original single-sided flyers (writeable on one side) that you can send without an envelope, Original double-sided <br>flyers (more impactful) and luxe flyers (extra thick and luxurious).</p>
                </div>--><!-- /.sec-title -->
                <!--<div class="row">
                    <div class="col-md-6">
                        <div class="video-box">
                            <img src="img/video-box-1-1.jpg" alt="Awesome Image">
                            <div class="content">
                                <h3>Printfinity Makes <br> Every Card <br> Unique</h3>
                            </div>--><!-- /.content -->
                            <!--<a href="../watch.html?v=mcL6ZErM49Q" class="video-btn video-popup"><i class="fas fa-play"></i></a>
                        </div>--><!-- /.video-box -->
                    <!--</div>--><!-- /.col-md-6 -->
                    <!--<div class="col-md-6">
                        <div class="design-guideline">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="guide-content">
                                        <h3>Download a Design <br> Guideline</h3>
                                        <ul class="list-box">
                                            <li><span>Bleed:</span> 2.91” x 1.26”</li>
                                            <li><span>Trim:</span> 2.75” x 1.10”</li>
                                            <li><span>Safe:</span> 2.6” x 0.94”</li>
                                        </ul>--><!-- /.list-box -->
                                    <!--</div>--><!-- /.guide-content -->
                                <!--</div>--><!-- /.col-sm-6 -->
                                <!--<div class="col-sm-5">
                                    <div class="row version-row">
                                        <div class="col-xs-6">
                                            <div class="single-version">
                                                <div class="version">
                                                    <span>psd</span>
                                                    <i class="fas fa-angle-double-down"></i>
                                                </div>--><!-- /.version -->
                                                <!--<h4>Photoshop</h4>
                                            </div>--><!-- /.single-version -->
                                        <!--</div>--><!-- /.col-xs-6 -->
                                        <!--<div class="col-xs-6">
                                            <div class="single-version">
                                                <div class="version ai">
                                                    <span>ai</span>
                                                    <i class="fas fa-angle-double-down"></i>
                                                </div>--><!-- /.version -->
                                                <!--<h4>Illustrator</h4>
                                            </div>--><!-- /.single-version -->
                                        <!--</div>--><!-- /.col-xs-6 -->
                                        <!--<div class="col-xs-6">
                                            <div class="single-version">
                                                <div class="version indesign">
                                                    <span>indd</span>
                                                    <i class="fas fa-angle-double-down"></i>
                                                </div>--><!-- /.version -->
                                                <!--<h4>InDesign</h4>
                                            </div>--><!-- /.single-version -->
                                        <!--</div>--><!-- /.col-xs-6 -->
                                        <!--<div class="col-xs-6">
                                            <div class="single-version">
                                                <div class="version jpg">
                                                    <span>jpg</span>
                                                    <i class="fas fa-angle-double-down"></i>
                                                </div>--><!-- /.version -->
                                                <!--<h4>Jpeg</h4>
                                            </div>--><!-- /.single-version -->
                                        <!--</div>--><!-- /.col-xs-6 -->
                                    <!--</div>--><!-- /.row -->
                                <!--</div>--><!-- /.col-sm-6 -->
                            <!--</div>--><!-- /.row -->
                        <!--</div>--><!-- /.design-guideline -->
                        <!--<div class="guide-line-img-box">
                            <img src="img/download-guide-line-1-1.jpg" alt="Awesome Image">
                        </div>--><!-- /.img-box -->
                    <!--</div>--><!-- /.col-md-6 -->
                <!--</div>--><!-- /.row -->
            <!--</div>--><!-- /.single-tab-content -->
            <!--<div class="single-tab-content tab-pane fade" id="poster">
                <div class="sec-title text-center">
                    <span>Our services</span>
                    <h3>Poster Printing</h3>
                    <p>Choose the perfect flyer design, You can’t go wrong. We start at premium and go all the way to extra fancy. There’s <br>Original single-sided flyers (writeable on one side) that you can send without an envelope, Original double-sided <br>flyers (more impactful) and luxe flyers (extra thick and luxurious).</p>
                </div>--><!-- /.sec-title -->
                <!--<div class="row">
                    <div class="col-md-6">
                        <div class="video-box">
                            <img src="img/video-box-1-1.jpg" alt="Awesome Image">
                            <div class="content">
                                <h3>Printfinity Makes <br> Every Card <br> Unique</h3>
                            </div>--><!-- /.content -->
                            <!--<a href="../watch.html?v=mcL6ZErM49Q" class="video-btn video-popup"><i class="fas fa-play"></i></a>
                        </div>--><!-- /.video-box -->
                    <!--</div>--><!-- /.col-md-6 -->
                    <!--<div class="col-md-6">
                        <div class="design-guideline">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="guide-content">
                                        <h3>Download a Design <br> Guideline</h3>
                                        <ul class="list-box">
                                            <li><span>Bleed:</span> 2.91” x 1.26”</li>
                                            <li><span>Trim:</span> 2.75” x 1.10”</li>
                                            <li><span>Safe:</span> 2.6” x 0.94”</li>
                                        </ul>--><!-- /.list-box -->
                                    <!--</div>--><!-- /.guide-content -->
                                <!--</div>--><!-- /.col-sm-6 -->
                                <!--<div class="col-sm-5">
                                    <div class="row version-row">
                                        <div class="col-xs-6">
                                            <div class="single-version">
                                                <div class="version">
                                                    <span>psd</span>
                                                    <i class="fas fa-angle-double-down"></i>
                                                </div>--><!-- /.version -->
                                                <!--<h4>Photoshop</h4>
                                            </div>--><!-- /.single-version -->
                                        <!--</div>--><!-- /.col-xs-6 -->
                                        <!--<div class="col-xs-6">
                                            <div class="single-version">
                                                <div class="version ai">
                                                    <span>ai</span>
                                                    <i class="fas fa-angle-double-down"></i>
                                                </div>--><!-- /.version -->
                                                <!--<h4>Illustrator</h4>
                                            </div>--><!-- /.single-version -->
                                        <!--</div>--><!-- /.col-xs-6 -->
                                        <!--<div class="col-xs-6">
                                            <div class="single-version">
                                                <div class="version indesign">
                                                    <span>indd</span>
                                                    <i class="fas fa-angle-double-down"></i>
                                                </div>--><!-- /.version -->
                                                <!--<h4>InDesign</h4>
                                            </div>--><!-- /.single-version -->
                                        <!--</div>--><!-- /.col-xs-6 -->
                                        <!--<div class="col-xs-6">
                                            <div class="single-version">
                                                <div class="version jpg">
                                                    <span>jpg</span>
                                                    <i class="fas fa-angle-double-down"></i>
                                                </div>--><!-- /.version -->
                                                <!--<h4>Jpeg</h4>
                                            </div>--><!-- /.single-version -->
                                        <!--</div>--><!-- /.col-xs-6 -->
                                    <!--</div>--><!-- /.row -->
                                <!--</div>--><!-- /.col-sm-6 -->
                            <!--</div>--><!-- /.row -->
                        <!--</div>--><!-- /.design-guideline -->
                        <!--<div class="guide-line-img-box">
                            <img src="img/download-guide-line-1-1.jpg" alt="Awesome Image">
                        </div>--><!-- /.img-box -->
                    <!--</div>--><!-- /.col-md-6 -->
                <!--</div>--><!-- /.row -->
            <!--</div>--><!-- /.single-tab-content -->
            <!--<div class="single-tab-content tab-pane fade" id="sticker">
                <div class="sec-title text-center">
                    <span>Our services</span>
                    <h3>Sticker Printing</h3>
                    <p>Choose the perfect flyer design, You can’t go wrong. We start at premium and go all the way to extra fancy. There’s <br>Original single-sided flyers (writeable on one side) that you can send without an envelope, Original double-sided <br>flyers (more impactful) and luxe flyers (extra thick and luxurious).</p>
                </div>--><!-- /.sec-title -->
                <!--<div class="row">
                    <div class="col-md-6">
                        <div class="video-box">
                            <img src="img/video-box-1-1.jpg" alt="Awesome Image">
                            <div class="content">
                                <h3>Printfinity Makes <br> Every Card <br> Unique</h3>
                            </div>--><!-- /.content -->
                            <!--<a href="../watch.html?v=mcL6ZErM49Q" class="video-btn video-popup"><i class="fas fa-play"></i></a>
                        </div>--><!-- /.video-box -->
                    <!--</div>--><!-- /.col-md-6 -->
                    <!--<div class="col-md-6">
                        <div class="design-guideline">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="guide-content">
                                        <h3>Download a Design <br> Guideline</h3>
                                        <ul class="list-box">
                                            <li><span>Bleed:</span> 2.91” x 1.26”</li>
                                            <li><span>Trim:</span> 2.75” x 1.10”</li>
                                            <li><span>Safe:</span> 2.6” x 0.94”</li>
                                        </ul>--><!-- /.list-box -->
                                    <!--</div>--><!-- /.guide-content -->
                                <!--</div>--><!-- /.col-sm-6 -->
                                <!--<div class="col-sm-5">
                                    <div class="row version-row">
                                        <div class="col-xs-6">
                                            <div class="single-version">
                                                <div class="version">
                                                    <span>psd</span>
                                                    <i class="fas fa-angle-double-down"></i>
                                                </div>--><!-- /.version -->
                                                <!--<h4>Photoshop</h4>
                                            </div>--><!-- /.single-version -->
                                        <!--</div>--><!-- /.col-xs-6 -->
                                        <!--<div class="col-xs-6">
                                            <div class="single-version">
                                                <div class="version ai">
                                                    <span>ai</span>
                                                    <i class="fas fa-angle-double-down"></i>
                                                </div>--><!-- /.version -->
                                                <!--<h4>Illustrator</h4>
                                            </div>--><!-- /.single-version -->
                                        <!--</div>--><!-- /.col-xs-6 -->
                                        <!--<div class="col-xs-6">
                                            <div class="single-version">
                                                <div class="version indesign">
                                                    <span>indd</span>
                                                    <i class="fas fa-angle-double-down"></i>
                                                </div>--><!-- /.version -->
                                                <!--<h4>InDesign</h4>
                                            </div>--><!-- /.single-version -->
                                        <!--</div>--><!-- /.col-xs-6 -->
                                        <!--<div class="col-xs-6">
                                            <div class="single-version">
                                                <div class="version jpg">
                                                    <span>jpg</span>
                                                    <i class="fas fa-angle-double-down"></i>
                                                </div>--><!-- /.version -->
                                                <!--<h4>Jpeg</h4>
                                            </div>--><!-- /.single-version -->
                                        <!--</div>--><!-- /.col-xs-6 -->
                                    <!--</div>--><!-- /.row -->
                                <!--</div>--><!-- /.col-sm-6 -->
                            <!--</div>--><!-- /.row -->
                        <!--</div>--><!-- /.design-guideline -->
                        <!--<div class="guide-line-img-box">
                            <img src="img/download-guide-line-1-1.jpg" alt="Awesome Image">
                        </div>--><!-- /.img-box -->
                    <!--</div>--><!-- /.col-md-6 -->
                <!--</div>--><!-- /.row -->
            <!--</div>--><!-- /.single-tab-content -->
            <!-- /.single-tab-content -->
        <!--</div>--><!-- /.tab-content -->
    <!--</div>--><!-- /.thm-container -->
<!--</section>--><!-- /.video-box-design-guide -->

<!--<div class="brand-carousel-wrapper">
    <div class="thm-container">
        <div class="brand-carousel owl-theme owl-carousel">
            <div class="item">
                <img src="img/brand-1-1.png" alt="Awesome Image">
            </div>--><!-- /.item -->
            <!--<div class="item">
                <img src="img/brand-1-2.png" alt="Awesome Image">
            </div>--><!-- /.item -->
            <!--<div class="item">
                <img src="img/brand-1-3.png" alt="Awesome Image">
            </div>--><!-- /.item -->
            <!--<div class="item">
                <img src="img/brand-1-4.png" alt="Awesome Image">
            </div>--><!-- /.item -->
            <!--<div class="item">
                <img src="img/brand-1-5.png" alt="Awesome Image">
            </div>--><!-- /.item -->
            <!--<div class="item">
                <img src="img/brand-1-6.png" alt="Awesome Image">
            </div>--><!-- /.item -->
        <!--</div>--><!-- /.brand-carousel -->
    <!--</div>--><!-- /.thm-container -->
<!--</div>--><!-- /.brand-carousel-wrapper -->


@await Component.InvokeAsync("Contact")<!-- /.contact-section -->
