
@{
    ViewData["Title"] = "Ref";
}


<section class="page-title">
    <div class="thm-container">
        <h3>REFARANSLAR</h3>
    </div><!-- /.thm-container -->
</section><!-- /.page-title -->

<div class="breadcumb-wrapper">
    <div class="thm-container">
        <ul class="breadcumb">
            <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><a href="">Faliyet Alanı</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><span>Refaranslar</span></li>
        </ul><!-- /.breadcumb -->
    </div><!-- /.thm-container -->
</div><!-- /.breadcumb-wrapper -->


<section class="project-details-page sec-pad">
    <div class="thm-container">
        <div class="row" >
            <div class="col-md-6"   >
                <div class="project-details-content" >
                    <img src="~/img/Services/Refarenslar/referanslar1.jpg" style="margin:0px; right:70px"width="1200" alt="Awesome Image">
                </div><!-- /.project-details-content -->
            </div><!-- /.col-md-6 -->
            <!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section>
