<section class="contact-section sec-pad">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-8">
                <div class="contact-form-content">
                    <div class="title">
                        <span>İletişim</span>
                        <h2>E-Mail</h2>
                    </div><!-- /.title -->
                    <form action="inc/sendemail.php" class="contact-form">
                        <input type="text" name="userName" placeholder="Ad" required>
                        <input type="text" name="Email" placeholder="Email" required>
                        <textarea name="Mesaj" placeholder="Mesajınız" required></textarea>
                        <button type="submit" class="thm-btn yellow-bg">Gönder</button>
                        <div class="form-result"></div><!-- /.form-result -->
                    </form>
                </div><!-- /.contact-form-content -->
            </div><!-- /.col-md-8 -->
            <div class="col-md-4">
                <div class="contact-info text-center">
                    <div class="title text-center">
                        <span>Adres Bilgilerimiz</span>
                        <h2></h2>
                    </div><!-- /.title -->
                    <div class="single-contact-info">
                        <h4>Adres</h4>
                        <p>Çağlayan Mahallesi Park Caddesi 22/24 <br /> Kat 1 Daire 8 KAĞİTHANE / İSTANBUL</p>
                    </div><!-- /.single-contact-info -->
                    <div class="single-contact-info">
                        <h4>Telefon</h4>
                        <p> Sabit 0222 999 8888 <br> Mobil: 05357643507</p>
                    </div><!-- /.single-contact-info -->
                    <div class="single-contact-info">
                        <h4>Email</h4>
                        <p>cengiz@idealtanitim.com <br> info@idealtanitim.com</p>
                    </div><!-- /.single-contact-info -->
                    <div class="single-contact-info">
                        <h4>Sosyal Medya</h4>
                        <div class="social">
                            <a href="#" class="fab fa-twitter hvr-pulse"></a>
                            <!--
                            -->
                            <a href="#" class="fab fa-pinterest hvr-pulse"></a>
                            <!--
                            -->
                            <a href="#" class="fab fa-facebook-f hvr-pulse"></a>
                            <!--
                            -->
                            <a href="#" class="fab fa-youtube hvr-pulse"></a>
                        </div><!-- /.social -->
                    </div><!-- /.single-contact-info -->
                </div><!-- /.contact-info -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section>