<section class="service-style-two">
    <div class="overlay"></div><!-- /.overlay -->
    <div class="thm-container">
        <div class="row">
            <div class="col-md-6">
                <div class="service-content">
                    <p>
                     Reklam hizmetlerini PDF katalog olarak bilgisayarınıza indirilebilirsiniz! Kapsamlı katalog edinerek reklamınız için hizmetleri ve ürünleri keşfedin.miz
                    </p>
                    
                </div><!-- /.service-content -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <div class="unique-feature">
                            <img src="img/unique-feature-hand.png" alt="Awesome Image">
                            <div class="content">
                                <i class="printify-icon-white-sheets"></i>
                                <a href="service-details.html"><h3> <br></h3></a>
                            </div><!-- /.content -->
                        </div><!-- /.unique-feature -->
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4 text-center">
                        <div class="unique-feature">
                            <img src="img/unique-feature-hand.png" alt="Awesome Image">
                            <div class="content">
                                <i class="printify-icon-brochure-folded"></i>
                                <a href="service-details.html"><h3><br></h3></a>
                            </div><!-- /.content -->
                        </div><!-- /.unique-feature -->
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4 text-center">
                        <div class="unique-feature">
                            <img src="img/unique-feature-hand.png" alt="Awesome Image">
                            <div class="content">
                                <i class="printify-icon-circular-sticker"></i>
                                <a href="service-details.html"><h3><br></h3></a>
                            </div><!-- /.content -->
                        </div><!-- /.unique-feature -->
                    </div><!-- /.col-sm-4 -->
                </div><!-- /.row -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.service-style-two -->