<section class="banner-style-two">
    <div class="thm-container-fluid clearfix">
        <div class="col-md-6">
            <div class="banner-carousel-two owl-carousel owl-theme">
                <div class="item">
                    <div class="single-banner-carousel text-center">
                        <span>İÇ VE DİŞ MEKAN DİJİTAL BASKİ</span>
                        <h2>ULTRA <br /> <br />KALİTE</h2>
                        <a href="pricing.html" class="thm-btn yellow-bg">Our Pricing</a>
                    </div><!-- /.single-banner-carousel -->
                </div><!-- /.item -->
                <div class="item">
                    
                </div><!-- /.item -->
            </div><!-- /.banner-carousel-two owl-carousel owl-theme -->
        </div><!-- /.col-md-6 -->
        <div class="col-md-6">
            <img src="img/banner-featured-1-11.png" class="pull-left" alt="Awesome Image">
        </div><!-- /.col-md-6 -->
    </div><!-- /.thm-container-fluid -->
</section><!-- /.banner-style-two -->