<!--<footer class="footer">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-4">-->
                <!--<div class="footer-widget about-widget">
                    <div class="title">
                        <h3>About  Printify</h3>
                    </div>--><!-- /.title -->
                    <!--<p>Printify is an online design,copying and printing company that is passionate about great design and the difference it can make to our customers and the world.</p>

                    <form action="#" class="footer-subscribe">
                        <input type="text" name="email" placeholder="Email address">
                        <button type="submit"><i class="fa fa-angle-right"></i></button>
                    </form>--><!-- /.footer-subscribe -->
                <!--</div>--><!-- /.footer-widget about-widget -->
            <!--</div>--><!-- /.col-md-4 -->
            <!--<div class="col-md-2">
                <div class="footer-widget links-widget explore">
                    <div class="title">
                        <h3>Explore</h3>
                    </div>--><!-- /.title -->
                    <!--<ul class="link-list">
                        <li><a href="about.html">Ana Sayfa</a></li>
                        <li><a href="contact.html">Hakkımızda</a></li>
                        <li><a href="services.html">Faliyet Alanlari</a></li>
                        <li><a href="pricing.html">Refaranslar</a></li>
                        <li><a href="#">İletişim</a></li>
                    </ul>--><!-- /.link-list -->
                <!--</div>--><!-- /.footer-widget links-widget explore -->
            <!--</div>--><!-- /.col-md-2 -->
            <!--<div class="col-md-3">
                <div class="footer-widget post-widget services">
                    <div class="title">
                        <h3>Latest Posts</h3>
                    </div>--><!-- /.title -->
                    <!--<div class="post-widget">
                        <div class="single-post-widget">
                            <a href="#" class="date">July 12, 2019</a>
                            <h3 class="post-title"><a href="blog-details.html">A Clean Website Gives More Experience To The Visitors</a></h3>--><!-- /.post-title -->
                        <!--</div>--><!-- /.single-post-widget -->
                        <!--<div class="single-post-widget">
                            <a href="#" class="date">July 12, 2019</a>
                            <h3 class="post-title"><a href="blog-details.html">A Clean Website Gives More Experience To The Visitors</a></h3>--><!-- /.post-title -->
                        <!--</div>--><!-- /.single-post-widget -->
                    <!--</div>--><!-- /.post-widget -->
                <!--</div>--><!-- /.footer-widget links-widget explore -->
            <!--</div>--><!-- /.col-md-3 -->
            <!--<div class="col-md-3">
                <div class="footer-widget contact-widget">
                    <div class="title">
                        <h3>Contact</h3>
                    </div>--><!-- /.title -->
                    <!--<p> Sabit 0222 999 8888 <br> Mobil: 05357643507</p>
                    <p>cengiz@idealtanitim.com <br> info@idealtanitim.com</p>
                    <p>Çağlayan Mahallesi Park Caddesi 22/24 <br /> Kat 1 Daire 8 KAĞİTHANE / İSTANBUL</p>
                </div>--><!-- /.footer-widget links-widget explore -->
            <!--</div>--><!-- /.col-md-3 -->
        <!--</div>--><!-- /.row -->
    <!--</div>--><!-- /.thm-contianer -->
<!--</footer>--><!-- /.footer -->
<div class="footer-bottom">
    <div class="thm-container clearfix">
        <div class="pull-left copy-text">
            <p>&copy; Copyright 2021 QentSoft <a href="#"></a></p>
        </div><!-- /.pull-left copy-text -->
        <div class="social-box pull-right">
            <a href="#" class="fab fa-twitter hvr-pulse"></a>
            <!--
            -->
            <a href="#" class="fab fa-pinterest hvr-pulse"></a>
            <!--
            -->
            <a href="#" class="fab fa-facebook-f hvr-pulse"></a>
            <!--
            -->
            <a href="#" class="fab fa-youtube hvr-pulse"></a>
        </div><!-- /.social-box -->
    </div><!-- /.thm-container -->
</div><!-- /.footer-bottom -->