
@{
    ViewData["Title"] = "Index";
}


<section class="page-title">
    <div class="thm-container">
        <h3>Canvas</h3>
    </div><!-- /.thm-container -->
</section><!-- /.page-title -->
<div class="breadcumb-wrapper">
    <div class="thm-container">
        <ul class="breadcumb">
            <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
            <!--
            -->
            &nbsp;
            <!--
            -->
            <li><a href="">Faliyet Alanı</a></li>
            <!--
            -->
            &nbsp;
            <!--
            -->
            <li><span>Canvas</span></li>
        </ul><!-- /.breadcumb -->
    </div><!-- /.thm-container -->
</div><!-- /.breadcumb-wrapper -->


<section class="project-details-page sec-pad">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-6">
                <div class="project-details-content">
                    <!-- /.project-details-table -->
                    <br>
                    <h3>Canvas Baskı</h3>
                    <p>
                        Son dönemlerin en moda ev aksesuarlarından birisi de hiç kuşkusuz canvas tablolar. Canvas tablolar asıldığı duvarı canlandırdığı gibi asıldığı odaya da son derece hoş bir hava katan vazgeçilmez aksesuarlardan birisi haline dönüşmeye başladı. Canvas baskı genel itibariyle tuval üzerine yapılan baskıdır. Canvas baskı iki türlü yapılır. Birincisi süblimasyon (ısı aktarımı) diğeri de inkjet (mürekkep püskürtmeli) biçimindedir. Genelde kullanılan ana malzeme pamuktur. Böylece baskı yapılan tablolar daha parlak ve canlı görünür.
                        Kullanılan kanvasın pamuk oranı canlılığı ve parlaklığı olumlu anlamda etkiler. Artık çerçeveli klasik tablo ile duvar ve odaları canlandırma fikri modern çağ ile beraber canvas tarzı tablolara yerini bırakıyor gibi görünüyor. İsterseniz çok beğendiğiniz doğa manzaralı bir resmi veya hayranı olduğunuz bir kişinin resmini canvas baskı tekniğiyle tablolaştırabilir veya kendi fotoğrafınızı kendi çektiğiniz fotoğrafları da canvas üzerine baskıyla da duvarınıza asabilirsiniz.
                        Yüksek baskı ve en iyi malzeme kalitemizle beraber size birinci kalite baskı keyfi yaşatır. Doğal renk derinliği yüksek ve canlı renk parlaklığı ile canvas baskı teknolojimiz sizi cezp edecektir. Dikdörtgen olarak 20 x 30 cm 30 x 40 cm 40 x 60 cm 50 x 70 cm 60 x 80 cm 70 x 100 cm. kadar boyutlarda canvas tablolar sitemizde sizin beğeninize sunuluyor. 20 x 30 cm. 70 x 100 cm. kadar ebatlardaki tablolarla duvarınızın her bölümünde kullanabilirsiniz.
                        Ayrıca sitemiz Kare şeklinde de; 30 x 30 cm 40 x 40 cm 50 x 50 cm 60 x 60 cm 70 x 70 cm ebatlarıyla da duvarınız için en uygun ölçüler sunmaktadır. Sadece kare ve dikdörtgen değil bir de panoramik dediğimiz ve duvarlara büyük bir dinamiklik getiren modern dünyanın da son günlerdeki en iyi trendlerinden birisi olan canvas tabloları da sitemiz de bulmanız mümkün. Panoramik canvas tablolarımızın ölçüleri ise; 20 x 60 cm 30 x 80 cm 40 x 100 cm olarak siz dşayetli tüketicilerimizin beğenilerine sunulmaktadır.
                    </p>
                </div><!-- /.project-details-content -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="img-box-wrapper">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/Services/CanvasBaski/canvastablo.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                    </div><!-- /.row -->
                </div><!-- /.img-box-wrapper -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section>
