
@{
    ViewData["Title"] = "Cart";
}

<section class="page-title">
    <div class="thm-container">
        <h3>Canvas</h3>
    </div><!-- /.thm-container -->
</section><!-- /.page-title -->

<div class="breadcumb-wrapper">
    <div class="thm-container">
        <ul class="breadcumb">
            <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
            <!--
            -->
            &nbsp;
            <!--
            -->
            <li><a href="">Faliyet Alanı</a></li>
            <!--
            -->
            &nbsp;
            <!--
            -->
            <li><span>Canvas</span></li>
        </ul><!-- /.breadcumb -->
    </div><!-- /.thm-container -->
</div><!-- /.breadcumb-wrapper -->


<section class="project-details-page sec-pad">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-6">
                <div class="project-details-content">
                    <!-- /.project-details-table -->
                    <br>
                    <h3>Araç Kaplama</h3>
                    <p>
                    </p>
                </div><!-- /.project-details-content -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="img-box-wrapper">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/Services/AracKaplama/portfolio_img6.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <img src="~/img/Services/AracKaplama/portfolio_img7.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                    </div><div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/Services/AracKaplama/portfolio_img14.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <img src="~/img/Services/AracKaplama/portfolio_img15.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                    </div><div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/Services/AracKaplama/portfolio_img12.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <img src="~/img/Services/AracKaplama/portfolio_img13.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                    </div><!-- /.row -->
                </div><!-- /.img-box-wrapper -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section>


