
@{
    ViewData["Title"] = "Index";
}


<section class="page-title">
    <div class="thm-container">
        <h3>FOLYA BASKI</h3>
    </div><!-- /.thm-container -->
</section><!-- /.page-title -->

<div class="breadcumb-wrapper">
    <div class="thm-container">
        <ul class="breadcumb">
            <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><a href="">Faliyet Alanı</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><span>Folya</span></li>
        </ul><!-- /.breadcumb -->
    </div><!-- /.thm-container -->
</div><!-- /.breadcumb-wrapper -->

<section class="project-details-page sec-pad">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-6">
                <div class="project-details-content">
                    <!-- /.project-details-table -->
                    <br>
                    <h3>Folyo Baskı</h3>
                    <br>
                    <p>Bir çokları tarafından folyo adıyla bilinen malzeme günlük yaşamda birçok alanda kullanılmaktadır. Son olarak reklam sektörünün de kapsadığı malzeme vasıtası ile folyo baskı yöntemi uygulanabilir hale gelmiştir</p>
                    <br>
                    <h3>İç Mekan Folyo Baskı</h3>
                    <br>
                    <p>Su bazlı boyalar kullanılarak hazırlanmaktadır. Su bazlı boyaların kullanılması ise oldukça önemli bir noktadır. İç mekanlarda kullanılacağı için insanlarla öyle veya böyle temas durumunda olacaktır. İşte su bazlı boyaların önemi burada ortaya çıkmaktadır. Su bazlı boyaların insan sağlığına herhangi bir zararı olmadığı tıbbi olarak kanıtlanmıştır. İç mekanda dekoratif amaçlarla veya tanıtım amacıyla yerleştirilen folyo baskı tamamıyla hedef kitleye yönetil reklamların yapılmasına imkân sağlamaktadır. Dikkat edilmesi gereken en önemli neden, hazırlanan yazılara kati surette suyun temas etmemesidir. Su teması olduğunda yazıların akla olasılıki vardır. Bu konuya son derece dikkat etmek gerekir. Ciddi anlamda kaliteli baskıların</p>
                    <br>
                    <h3>Dış Mekan Folyo Baskı</h3>
                    <br>
                    <p>En büyük özelliği dayanıklılığıdır. Daimi olarak doğa şartlarıyla temas durumunda kalacağı için dayanıklı olması gereklidir. Bu dayanıklılık solvent bazlı boyalar kullanılarak sağlanmıştır. Büyük ebatlarda uygulanabilir olması da diğer bir önemli özelliğidir. Uzun yıllar kullanmak mümkün olduğu için, reklam verenlerin maliyetini de düşürmektedir.</p>
                </div><!-- /.project-details-content -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="img-box-wrapper">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/Services/FolyaBaski/KANAT.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <img src="~/img/Services/FolyaBaski/75x40xduba2.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/Services/FolyaBaski/IMG_20200422_163514.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->

                    </div><!-- /.row -->
                </div><!-- /.img-box-wrapper -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section>