

<section class="page-title">
    <div class="thm-container">
        <h3>Forex</h3>
    </div><!-- /.thm-container -->
</section><!-- /.page-title -->

<div class="breadcumb-wrapper">
    <div class="thm-container">
        <ul class="breadcumb">
            <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><a href="">Faliyet Alanı</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><span>Forex</span></li>
        </ul><!-- /.breadcumb -->
    </div><!-- /.thm-container -->
</div><!-- /.breadcumb-wrapper -->


<section class="project-details-page sec-pad">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-6">
                <div class="project-details-content">
                    <!-- /.project-details-table -->
                    <br>
                    <h3>Forex & Fotoblock Baskı</h3>
                    <p>
                        Artık büyükşehirlerde yolda yürürken bile kafamızı nereye çevirsek kesinlikle bir reklama rastlıyoruz. Bu reklamlar bazen dev afişler bazen bilbordlar reklam tabelaları vasıtasıyla karşımıza çıkmaktadır. Hepsinin ortak noktası hepsinde de baskı yönteminin kullanılmış olmasıdır. Bu yöntemler duruma göre farklılaşabilir. Ancak hepimizin bildiği bir gerçek var ki baskılama yöntemi reklamcılık sektörünün bel kemiği konumundadır. Çünkü eninde sonunda bir ürünün reklamını yapabilmek için o ürünün hedef kitleye hitap eden bir halde sergilenmesi gereklidir. Artık teknolojinin hızla gelişmesi ile beraber baskıcılık sektörü de çığır atlamıştır.
                        Çünkü gereçlere baskı yapılması prosedürünü baştan aşağı değiştiren kalitesini ve hızını artıran teknik olan dijital baskı tasarlanmıştir. Dijital baskı baskıda kullanılacak resimlerin bilgisayar ortamında istenilen özelliklere göre biçimlendirilmesine imkân sağlamıştır. Eskiden en kolay ürünün basımı bile saatler alırken artık son teknoloji ile çekilmiş ve en üst düzey kalitedeki görseller basılırken görüntü kalitesinde hiçbir sorunluluğa uğramadan her tür gereçin üzerine aktarılması gayet hızlı ve kolay bir biçimde yapılabilmektedir. Kullanılan gereçe göre çoğu baskı yöntemi mevcuttur. Bunlardan birisi de duratrans baskı yöntemidir. Duratrans baskı baskı yapılacak alanın arka tarafında kesinlikle ışığın kullanıldığı yani içten aydınlatmalı ışık geçirgenliği yüksek şeffaf bir alan üzerine yine ışık geçiren malzemelerin kullanıldığı baskı türüdür. Bu baskı ürünü daha fazla iç mekân baskılarda kullanılır ve ürün yüzeyi pusludur yalnız baskılı resim yüzeyi ise parlaktır. Duratrans baskının bir diğer adı da backlit baskıdır. İç mekânlar veya yakından bakılabilecek alanlarda kullanılan bu baskıda iç mekân dijital baskı makinesinde ters baskı yöntemi uygulanır. Bu baskı yönteminin kullanım alanı kesinlikle ışığın vurduğu ve arkadan ışıklı olan bir alan olması gereklidir. Duratransda kullanılan baskı malzemelerinin ışık geçirgenliği son derece yüksektir.
                        Bu baskı yöntemi folyo baskı ile karşılaştırıldığında durantrans baskı da çok daha iyi sonuçlar elde edilir. Dikkat edilmesi gereken nokta ise baskının çok iyi yapılması gereklidir. Çünkü bu baskı türünde ışık kullanımı fazla olduğu için arkadan vuran ışıklar baskı hatalarını çok fazla göstermiştir.


                    </p>
                </div><!-- /.project-details-content -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="img-box-wrapper">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/Services/Forex/1.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <img src="~/img/Services/Forex/2.jpg" width="270" alt="Awesome Image">
                        </div><div class="col-sm-6">
                            <img src="~/img/Services/Forex/3.jpg" width="270" alt="Awesome Image">
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.img-box-wrapper -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section>
