
@{
    ViewData["Title"] = "Index";
}

<section class="page-title" style="background-image: url(/img/cta-bg-1-2.png); padding:170px 0px; border-radius: 0px 150px 0px 0px;">
    <div class="thm-container">
    </div><!-- /.thm-container -->
</section><!-- /.page-title -->


 @await Component.InvokeAsync("Services")