
@{
    ViewData["Title"] = "Index";
}


<section class="page-title">
    <div class="thm-container">
        <h3>KUMLAMA</h3>
    </div><!-- /.thm-container -->
</section><!-- /.page-title -->

<div class="breadcumb-wrapper">
    <div class="thm-container">
        <ul class="breadcumb">
            <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><a href="">Faliyet Alanı</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><span>Kumlama</span></li>
        </ul><!-- /.breadcumb -->
    </div><!-- /.thm-container -->
</div><!-- /.breadcumb-wrapper -->


<section class="project-details-page sec-pad">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-6">
                <div class="project-details-content">
                    <!-- /.project-details-table -->
                    <br>
                    <br>
                    <h3>Cam Kumlama</h3>
                    <p>
                        Camlarda buzlu görünüm etkisi vermek, görünürlüğü fululaştırmak ve dekoratif bir görüntü vermek için kullanılan tekniğin adına cam kumlama, kumlama cam ya da buzlu cam folyo kaplama denir. Cam Kumlama ile düz buzlu cam görünümü yapıldığı gibi desenli kumlama cam, özel tasarım kumlama cam ve renkli uygulamalar da yapılabilmektedir.
                        Kumlama cam folyo ile ofislere, işyerlerine, toplantı odalarına, kapılara iç açıcı bir görünüm sağlayabilirsiniz!
                        •	Cam kumlama folyo uygulama yapılacak alanın temiz olması gerekmektedir.
                        •	Cam kumlama folyo farklı renk tonları mevcuttur.
                        •	Cam kumlama folyonun üzerine direk baskıda yapılabilmektedir
                        Kumlama cam folyo baskı ve uygulamaları en uygun fiyatlarla idealtanıtım‘da!
                    </p>
                    <br>
                </div><!-- /.project-details-content -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="img-box-wrapper">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/Services/Kumlama/11.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <img src="~/img/Services/Kumlama/2.jpg" width="270" alt="Awesome Image">

                        </div><!-- /.row -->
                        <div class="row">
                        </div><!-- /.col-sm-6 --><div class="col-sm-6">
                    <br />
                            <img src="~/img/Services/Kumlama/3.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->

                    </div>                    <!-- /.row -->
                </div><!-- /.img-box-wrapper -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section>


