

<section class="page-title">
    <div class="thm-container">
        <h3>MESH BASKI</h3>
    </div><!-- /.thm-container -->
</section><!-- /.page-title -->

<div class="breadcumb-wrapper">
    <div class="thm-container">
        <ul class="breadcumb">
            <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><a href="">Faliyet Alanı</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><span>MESH</span></li>
        </ul><!-- /.breadcumb -->
    </div><!-- /.thm-container -->
</div><!-- /.breadcumb-wrapper -->


<section class="project-details-page sec-pad">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-6">
                <div class="project-details-content">
                    <!-- /.project-details-table -->
                    <br>
                    <h3>Mesh Baskı</h3>
                    <p>
                        Reklamcılık sektöründe en çok olarak kullanılan tekniklerden biri de mesh baskı tekniğidir. Genel hatlarıyla vinil baskı ve one way vision baskı yöntemlerine benzese de farklı ve önemli bir kaç konudan kaynaklı bu baskı tekniklerinden ayrılır.
                        Dökme ve lamine olarak iki farklı uygulaması mevcuttur. Üzerinde delikler bulunan brandaya baskı yapılması prosedürüyle gerçekleştirilir. Dijital baskılarda çok iyi sonuçlar verdiği için sık sık kullanılmaktadır. Brandanın üzerinde delikler bulunması, rüzgara karşı daha güçlü ve sağlam durmasına imkân verir. Açık alanlarda, geniş ebatlarla reklam afişi yaptırmak istenildiğinde rüzgar etkeni göz önünde bulundurularak, asılacak olan afişin tabiri caizse bir yelken görevi görmesi ve tutturulduğu bina veya yapıya zarar vermesini önlemek adına brandanın yüzeyi eşit Aralıklar ve eşit büyüklüklerde deliklerle açılmıştır.
                        Bu sayede rüzgarı içinden daha basit geçirecek ve bahsetmiş olduğumuz yelken etkisini en aza indirecektir. Baskının yapılması istenilen görsel, yazı veya logonun brandaya uygulanırken dikkat edilmesi gereken bazı noktalar vardır. Öncelikle reklam amaçlı kullanıldığı için hiç bir harf, logo veya ayrıntı içerik delikli bölgeye denk gelmemelidir. Bunun olması halinde pankartta yazan metnin tam anlamı ile okunması sorunli olacaktır. Brandanın üzerine aktarılacak olan objenin fotoğrafları çekilirken özen gösterilmelidir. Uygulamada problem yaşatacak tarzda çekimler yapılmamalıdır. Çok büyük boyutlarda yapılan programlarda, baskı prosedürü parçalara ayrılıp sonrasında uygulamanın yapılacağı alanda birleştirilmeleri gerektiği için, baskı prosedürü oldukça hassaslik ve dikkat gerektirmektedir. En ufak bir hata bile resmin tümünde çok büyük sorunler yaratabilmektedir.

                    </p>
                </div><!-- /.project-details-content -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="img-box-wrapper">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/Services/Mash-Baski/maccc.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <img src="~/img/Services/Mash-Baski/macbaskı.jpg" width="270" alt="Awesome Image">
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.img-box-wrapper -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section>
