
<section class="page-title">
    <div class="thm-container">
        <h3>ONEWAY VİSİON BASKI</h3>
    </div><!-- /.thm-container -->
</section><!-- /.page-title -->

<div class="breadcumb-wrapper">
    <div class="thm-container">
        <ul class="breadcumb">
            <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
            &nbsp;
            <li><a href="">Faliyet Alanı</a></li>
            &nbsp;
            <li><span>ONEWAY</span></li>
        </ul><!-- /.breadcumb -->
    </div><!-- /.thm-container -->
</div><!-- /.breadcumb-wrapper -->


<section class="project-details-page sec-pad">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-6">
                <div class="project-details-content">
                    <h3>One Way Vision Baskı</h3>
                    <br>
                    <p>
                        Ürünün ismi İngilizce olduğu için bu terimden çok, toplum arasında “delikli folyo” adı ile bilinmekte olan bir tür reklam amaçlı baskı prosedürüdir. PVC esaslı bir malzemeden üretilmekte olup, delikli bir yapısı vardır.
                        Baskı yapılacak olan yüzey beyaz renklidir. Bunun nedeni yapılacak olan baskılarda daha iyi sonuç almak adına fonun beyaz olması, üstüne atılacak boyaların altından fonun gözükmemesidir. Yapışkanlı tarafın rengi ise siyahtır. Bunun nedeni ise one way vision baskı uygulanmış olan cam bir yüzeyin, iç tarafından dış dünyaya bakıldığında, camın üstünde herhangi bir uygulama olduğunun anlaşılmamasını sağlamaktır. Genel kanı camların renginin siyah olduğu yönündedir. Bu nedenle yapışkanlı yüzey siyah renkli olarak üretilmektedir. Cam yüzeylerde uygulanan teknik vasıtası ile, binanın iç tarafından dışarının görülmesini imkân sağlayacak biçimde bina giydirme prosedürleri yapılabilmektedir.
                        Eskiden cam yüzeyli binalara giydirme yapılmak istenildiğinde bu prosedür çokta iç açıcı sonuçlar vermemekteydi. Çünkü, cam zeminin üzerine yerleştirilen malzeme, hem dışarıdan içeriyi, daha önemlisi içeriden dışarıyı görme olanağını çok ciddi oranda kısıtlıyordu. Fakat one way vision baskı vasıtası ile uygulamanın yapıldığı yüzeylerde içeriden, dışarıyı görebilme imkânı doğmuştur. Binaya dışarıdan bakıldığında reklam yapılmak istenilen resim rahatça ve son derece kaliteli bir biçimde sergilenmekte olup binanın içini görmek ise tamamıyla imkânsız durumdadır.
                        Standart düzeyde yapılan bir işçilik ile dışarıdan bakıldığında çok güçlü ışıkta görüntü kalitesi biraz düşebilmektedir. Ama genel itibariyle minimum %80-85 oranında bir görüntü sunmaktadır. İçeriden dışarıya bakmada ise %15-20 arası bir kayıp söz konusu olabilmektedir. Fakat bu oranlar endişe edilecek düzeyde olmayıp oldukça etkili sonuç sağlamaktadır.

                    </p>
                    <br>
                    <h3>One Way Vision Baskı Nerelerde Kullanılır ?</h3>
                    <p>
                        One way vision baskının kullanım alanı cam yüzeylerdir. Cam yüzeye sahip aklınıza gelebilecek her alanda rahatça kullanıma makuldur. Cam ile kaplı bir binanın dış cephelerine giydirme prosedürü yapılması en fazla tercih edilen alanıdır. Bunu yanısıra ara camlarına eklenecek logolar, mağazaların vitrinlerindeki yazılarda da bu teknik sık sık kullanılmaktadır.
                    </p>
                    <br>
                    <h3>One Way Vision Avantajları Nelerdir ?</h3>
                    <p>
                        İşlemin en büyük üstünlükı cam yüzeylerde, içeriden bakıldığında dışarıyı görebilme imkânı sağlamasıdır. 0.15 ile 0.20 mm kalınlığındaki malzemesi vasıtası ile uzman bir ekip tarafından montajı gerçekleştirilirse gayet tatmin edici sonuçların ortaya çıkması sağlanabilir. Ayrıca kullanılan malzemenin yapışkanı ne kadar kuvvetli ve deliklerin çapları ne kadar ufak
                    </p>
                </div><!-- /.project-details-content -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="img-box-wrapper">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/Services/ONEWAY/IMG-20150410-WA0002.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <img src="~/img/Services/ONEWAY/IMG_20190625_193635.jpg" width="270" alt="Awesome Image">
                        </div><div class="col-sm-6">
                            <img src="~/img/Services/ONEWAY/IMG_20190704_140552.jpg" width="270" alt="Awesome Image">
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.img-box-wrapper -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section>
