
@{
    ViewData["Title"] = "Index";
}


<section class="page-title">
    <div class="thm-container">
        <h3>Örümcek Stand</h3>
    </div><!-- /.thm-container -->
</section><!-- /.page-title -->

<div class="breadcumb-wrapper">
    <div class="thm-container">
        <ul class="breadcumb">
            <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><a href="">Faliyet Alanı</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><span>Örümcek Stand</span></li>
        </ul><!-- /.breadcumb -->
    </div><!-- /.thm-container -->
</div><!-- /.breadcumb-wrapper -->


<section class="project-details-page sec-pad">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-6">
                <div class="project-details-content">
                        <h3>Örümcek Standlar,</h3>
                    <br>
                    <p>Örümcek Standlar, Oval Örümcek Stand, Düz Örümcek Stand, Kumaş Örümcek Stand gibi çeşitleri mevcutdur.  Centro Stand,  Örümcek Stand'a benzer bir üründür.  Örümcek Standlar, Tanıtım Standı, Roll Up, X Banner,  Panset Masa, Quick Banner gibi ürünler ile takım olarak da kullanılmaktadır. Dijital baskı uygulamaları ile montajları yapılmaktadır. Örümcek Stand Tasarımı hazır olmayanlara şirketimizde yardımcı olunmaktadır.  Örümcek Stand 3x4 ve  Örümcek Stand 3x3 en çok tercih edilen  Örümcek Stand Modelleridir  Kumaş Örümcek Stand da son yıllarda çokça tercih edilmeye başlanmış bir Örümcek Stand Modellerindendir..</p>
                </div><!-- /.project-details-content -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="img-box-wrapper">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/Services/orumcekStand/1.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <img src="~/img/Services/orumcekStand/2.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/Services/orumcekStand/3.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->

                    </div><!-- /.row -->
                </div><!-- /.img-box-wrapper -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section>


