
<section class="page-title">
    <div class="thm-container">
        <h3>RAKET</h3>
    </div><!-- /.thm-container -->
</section><!-- /.page-title -->

<div class="breadcumb-wrapper">
    <div class="thm-container">
        <ul class="breadcumb">
            <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><a href="">Faliyet Alanı</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><span>Raket</span></li>
        </ul><!-- /.breadcumb -->
    </div><!-- /.thm-container -->
</div><!-- /.breadcumb-wrapper -->


<section class="project-details-page sec-pad">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-6">
                <div class="project-details-content">
                    <!-- /.project-details-table -->
                    <br>
                    <h3>CLP Raket</h3>
                    <p>
                        Clp raket’in ne olduğunu bilmeden kullanım alanlarını anlatmak çok doğru olmaz. Clp
                        raket billboardlardan daha ufak reklam alanlarına sahip 3.şahısların reklam ve
                        tanıtımlarının yapıldığı ve çoğunlukla kaldırım ve aynısı yerlerde kullanılan kısa ayaklı
                        reklam ve tabela üniteleridir. Clp raketler60 cm yüksekliğinde içten aydınlatma
                        uygulanabilen reklam üniteleridir. Bu ürün arasına yerleştirilecek afiş fotoğraf ilan çok
                        daha ilgi çekici bir hal kazanmaktadır.
                        Otobüs durakları yol kenarları kaldırım üzeri gibi son derece geniş bir kullanım alanı
                        içinde tercih edilir. İnsanların yoğun olarak kullandıkları yollarda ya da duraklarda
                        kullanılması bundan dolayı içeriği en etkili şekilde geçirir. Duraklarda otobüs bekleyen
                        insanların hepsi olmasa da birçoğu beklerken gözünün takıldığı bu aydınlık ve
                        etkileyici afişe/ilana/reklama bakacak yazı içeriği varsa kesinlikle okuyacaktır.
                        Dolayısıyla ulaşmayı hedeflediğiniz kitleye ulaşmanızın en etkili yollarından bir tanesi
                        de Clp raketlerdir. Bu programlarda dijital baskı tekniği gibi oldukça ilgi çekici bir
                        teknik kullanmak mümkün. Çok sıradan reklamlarınız bir anda etkileyici hale
                        dönüşebilir. İlanın/afişin yırtılması yıpranması kirlenmesi olasılıklerini yok eden
                        korunaklı tasarımı da tercih edilmesini sağlamaktadır.
                        İnsanlarımızın yoğun kent trafiği içindeki koşturmacası arasında dikkatlerini çekmek
                        hiç basit değil. Hiç kimse durup dururken sıradan bir ilanı durup okumaz. İşte clp
                        raket tam da bu durum için düşünülmüş bir fikir. Kullanım alanı olarak seçtiği yerlerde
                        bu mantık üzerine seçilmiş. Otobüs durakları insanların esasen mecburen durdukları
                        bir yer olmasından seçilmiştir. Trafik ışıklarının olduğu yerler yaya geçitlerinin hemen
                        kenarında sıklıkla rastlayabilmenizin sebebi de budur.
                        Günümüzde insanlara bir şey satmak son derece zor bir iştir. Bunu hiçbir şey
                        söylemeden yani konuşmadan yapmak çok daha zahmetlidir. Etkili ve ilgi çekici bir
                        dizayn yaptığınızı düşünseniz bile bu yetmez bu dizaynı onların göz hizasına
                        getirebilmek fark etmelerini sağlamak hiçte basit değildir. İşte bu noktada hedefe en
                        yakın teknikler arasında Clp raketler vardır. Gözü yormayacak büyüklükteki dizaynları
                        ışıkla desteklenmiş olmaları konuldukları yerlerin isabetli seçimleri de onları bu
                        sektörde en fazla tercih edilenler arasına sokmaktadır. Üretiminde kullanılan
                        malzemenin iklim koşullarına ve dışarıdan gelmesi muhtemel darbelere dayanıklı
                        olması da clp raketleri üstünlüklı bir duruma geçirmektedir.

                    </p>
                </div><!-- /.project-details-content -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="img-box-wrapper">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/Services/Raket/raket33.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <img src="~/img/Services/Raket/raketbaskı.jpg" width="270" alt="Awesome Image">
                       
                    </div><!-- /.row -->
                </div><!-- /.img-box-wrapper -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
        </div>
</section>
