
@{
    ViewData["Title"] = "Index";
}


<section class="page-title">
    <div class="thm-container">
        <h3>RENKLİ FOLYA</h3>
    </div><!-- /.thm-container -->
</section><!-- /.page-title -->

<div class="breadcumb-wrapper">
    <div class="thm-container">
        <ul class="breadcumb">
            <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><a href="">Faliyet Alanı</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><span>Renkli Folya</span></li>
        </ul><!-- /.breadcumb -->
    </div><!-- /.thm-container -->
</div><!-- /.breadcumb-wrapper -->


<section class="project-details-page sec-pad">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-6">
                <div class="project-details-content">
                    <!-- /.project-details-table -->
                    <br>
                    <br>
                    <h3>Folyo</h3>
                    <p>
                        Folyo baskıda kullanılan Folyo malzemesi genellikle dijital baskı işlerinde kullanılan arkası yapışkanlı pvc türünde bir malzemedir. Folyo tek başına başka bir malzemeye ihtiyaç duymadan yapışabilme özelliğine sahiptir. Reklam sektöründe sıklıkla Folyo baskı kullanılmakta ve tercih edilmektedir. Dijital baskı yönetimi ile Folyo üzerine baskı görseli sınırsız olmakta istenilen tasarım gerçekleştirilerek İdeal tanıtımda Folyo uygulaması yaptırabilirsiniz. Folyo baskı rakam, yazı, şekil, desen olmak üzere tüm görsellikte yaratılabilir..
                    </p>
                    <br>
                    <h3>  Başlıca uygulama alanları:</h3>
                    <br>
                    <p>
                      
                        Araç Kaplama,
                        Cam Giydirme,
                        Vitrin Reklam Yazıları
                        Cam dekorasyonları,
                        Reklam Cephe-Bina Kaplamaları
                        Kavacık Folyo ve Kavacık Folyo Baskı, Kavacık Folyo Baskısı  için hemen bizimle irtibata geçerek uzman kadromuzdan detaylı bilgi sahibi olabilirsiniz.
                    </p>
                    <br>
                    <h3>Normal Folyo</h3>
                    <br>
                    <p>Tabelalarda ve cam vitrinlerde olmak üzere, cephelerde ve yönlendirmelerde kullanılır.</p>
                </div><!-- /.project-details-content -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="img-box-wrapper">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/Services/rengliFolya/FOLYO1.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <img src="~/img/Services/rengliFolya/FOLYOSU.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                    </div><!-- /.row -->
                    <!-- /.row -->
                </div><!-- /.img-box-wrapper -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section>


