
@{
    ViewData["Title"] = "Index";
}

<section class="page-title">
    <div class="thm-container">
        <h3>ROLL UP BASKI</h3>
    </div><!-- /.thm-container -->
</section><!-- /.page-title -->

<div class="breadcumb-wrapper">
    <div class="thm-container">
        <ul class="breadcumb">
            <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><a href="">Faliyet Alanı</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><span>Roll up</span></li>
        </ul><!-- /.breadcumb -->
    </div><!-- /.thm-container -->
</div><!-- /.breadcumb-wrapper -->


<section class="project-details-page sec-pad">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-6">
                <div class="project-details-content">
                    <!-- /.project-details-table -->
                    <br>
                    <br>  <h3>Roll UP</h3>
                    <p>
                        Standlar görsel olarak display reklam malzemeleri için vazgeçilmez bir stand
                        çeşididir.Rolluplar fuar organizasyon tanıtım sunum reklam işlerinizde özel bez çantası ile
                        kolayca taşıyabilceğiniz reklam aracıdır. Roll Up Dijital baskı için tasarım yapılır.Tasarım
                        aşamasından sonra yapılan dijital baskı rollup üzerine monte edilir.
                        Roll Up alimünyum gövdeden oluşur hafif kullanışlı ve özel çantalı, kendi içine sarılan özel
                        mekanizmalı olduğu için her yere kolayca taşınıp yeniden kurulabildiğinden dijital baskı
                        sektöründe en çok tercih edilen stand türüdür.
                    </p>
                    <br>
                </div><!-- /.project-details-content -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="img-box-wrapper">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/Services/RollUp/roll-up-banner-stand-1.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <img src="~/img/Services/RollUp/Untitled-1.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/Services/RollUp/Wall-banner.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->

                    </div><!-- /.row -->
                </div><!-- /.img-box-wrapper -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section>


