
@{
    ViewData["Title"] = "Index";
}



@{
    ViewData["Title"] = "Index";
}


<section class="page-title">
    <div class="thm-container">
        <h3>Canvas</h3>
    </div><!-- /.thm-container -->
</section><!-- /.page-title -->

<div class="breadcumb-wrapper">
    <div class="thm-container">
        <ul class="breadcumb">
            <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><a href="">Faliyet Alanı</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><span>VİNİL</span></li>
        </ul><!-- /.breadcumb -->
    </div><!-- /.thm-container -->
</div><!-- /.breadcumb-wrapper -->


<section class="project-details-page sec-pad">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-6">
                <div class="project-details-content">
                    <!-- /.project-details-table -->
                    <br>
                    <p>
                        En fazla reklam sektöründe kullanılan dijital baskı bir çok yöntemle yapılmaktadır. Bunların
                        başında vinil baskı gelir. Özellikle dış mekanlarda görmeye alıştığımız açık hava reklamlarının
                        büyük çoğunluğu bu yöntem ile yapılmaktadır. Büyük ilanlar, totemler, yön bildiren levhalarda
                        kullanılan baskılar herbiri vinil baskı ürünüdür.
                        Vinil içi çarpraz örgülü üzeri pvc kaplanmış dayanıklı ve genellikle reklam sektöründe kullanılan
                        dijital baskı sektörünün en önemli malzemelerindendir. Farklı ölçü ve gramajlarda bulunan
                        malzeme kullanıldığı alan için doğru seçilirse çok dayanıklı, uzun ömürlü ve ucuz dijital baskı
                        malzemesidir.
                    </p>
                </div><!-- /.project-details-content -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="img-box-wrapper">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/Services/vinil/1.jpg" width="270" alt="Awesome Image">
                        </div><div class="col-sm-6">
                            <img src="~/img/Services/vinil/2.jpg" width="270" alt="Awesome Image">
                        </div><!-- /.col-sm-6 -->
                    </div><div class="col-sm-6">
                        <img src="~/img/Services/vinil/3.jpg" width="270" alt="Awesome Image">
                    </div><!-- /.col-sm-6 -->
                </div><!-- /.row -->
            </div><!-- /.img-box-wrapper -->
        </div><!-- /.col-md-6 -->
    </div><!-- /.row -->

</section>
